.tab{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid gray;  
  background-color: lightgray;


}

.tab div{
  padding: 40px;
  cursor: pointer;
}

.tab-description{
  font-size: 20px;
  text-align: center;
  padding: 80px;
}

.active{
  background-color: gray;
}